html, body {
    width: 100%;
    height: 100%;
}
.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('http://unsplash.it/1200x800') center center no-repeat;
    background-size: cover;
}
.bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: 0.6;
}

.horizontal-gradient {
    background: linear-gradient(to right, pink, rgb(219, 123, 139));
  }
.diagonal-gradient {
    background: linear-gradient(to bottom right,pink, rgb(219, 123, 139));
}

.home-nav-bg {
    background: linear-gradient(to right, rgb(224, 238, 227), rgb(121, 179, 139));
  }
.home-body-bg{
    background: linear-gradient(to bottom right,rgb(0, 0, 0), rgb(34, 25, 27));
}
  

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: #f1f1f1;
    overflow: auto;
} */

/* li a{
    float: left;
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active{
    background-color: chartreuse;
    color: white;
}

li a:hover{
    background-color: gray;
    color: white;
}

.button{
    background-color:azure;
    color:violet;
    padding: 5px;
    border: 2px solid black;
    border-radius: 7px;
} */

/* body{
    background-color: antiquewhite;
} */

/* li a:visited{
    background-color: violet;
    color: blue;
} */