/*轮播图css*/
#max{/*max的css样式*/
    width: 900px;
    height: 500px;
    align-items: center;
    margin: 5% auto;
    margin-top: 0%;
  }
  .re{
    position: relative;
    height: 400px;/**/
  }
  .re ul{
    list-style-type:none ;
  }
  .re ul>li{
    width: 600px;
    height: 100px;/**/
    position: absolute;
  
    transition: 1s;
    opacity: 0;
  }
  .re ul>li img{/*图片的大小和边框*/
    width: 900px;
    height: 400px;
    border-radius: 5%;
    border: 10px solid #d4fece;
  }
  #max ol {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,75px);
    grid-template-rows: auto;
    grid-gap: 1em;gap: 1em;
    float: right;
    margin-top: 270px;/*上边距*/
    list-style: none;
    top:0;left:0;
  }
  #max ol li {
    width: 25px;
    height: 10px;
    font-size: 15px;
    line-height: 20px;
    float: left;
    text-align: center;
    border-radius: 2em;
    border: 5px solid #a3c0f5;
  }

/*导航栏css*/
.container{
    background: #a5e79f;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background: rgb(249, 249, 250);
    border-radius: 50px;/*圆角半径*/
    padding: 5px;/*内边距*/
    height: 10vh;
    box-shadow: 0 25px 25px -20px rgba(0, 0, 0, 0.4);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 35px;
    margin: 5px;
    font-size: 18px;
    font-weight: 200px;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul li::after{/*在鼠标移到上方后的样式*/
    content: "";
    background: #a5e79f;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s,opacity 0.5s;
}
nav ul li:hover{
    color: #fff;
}
nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

/* 放大图片 */
.contact-me{
    text-align: center;  
}
 
ul{
    display: flex; /*使列表中的图片横向排列 */
    flex-direction: row;     
    margin-right: 100px;  
    margin-bottom: 100px;
}
 
a{
    text-decoration: none;  /* 出去链接的下划线（否则图片右下角有小黑点） */  
}
 
ul li img:hover{
    transform: scale(1.2);  /* 鼠标悬停图片放大1.2倍 */   
}

ul li img{
    height: 400px;
    width: 500px;
    text-decoration: none;
}

/* 设置字体 */
h2{
    text-align: center;
    font-family:楷体 ;
    font-size: 40px;
}
h3{
    text-align: center;
    font-family:宋体 ;
    font-size: 30px;
}
h4{
    text-align: center;
    font-size: 30px;
    font-family:宋体 ;
}





  