body {
    margin: 0;
    padding: 0;
    font-family: 华文宋体;
    font-size: 20px;
    /*z-index: 9999;*/
    background-image: url("../../background/demo/index.html");
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    background-color: #111;
    /*padding: 10px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /*z-index: 9999;*/
    /*导航栏置顶但是20230811没成功*/
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
}

.logo {
    width: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    /*z-index: 9999;*/
}

.logo img {
    height: 80%;
    width: 150px;
    /*z-index: 9999;*/
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*z-index: 9999;*/
}

.menu li {
    position: relative;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.menu li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    /*z-index: 9999;*/
}

.menu li:hover > a::before {
    transform: scaleX(1);
    /*z-index: 9999;*/
}

/*#background {*/
/*    position: fixed;*/
/*    !*top: 0;*!*/
/*    !*left: 0;*!*/
/*    width: 100%;*/
/*    height: 2000px;*/
/*    z-index: -1;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #111;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*}*/

/*.dropdown-content a {*/
/*    color: #fff;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/*.menu-icon {*/
/*    display: none;*/
/*    color: #fff;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*    .menu {*/
/*        display: none;*/
/*    }*/
/*    .menu-icon {*/
/*        display: block;*/
/*    }*/
/*    .menu-icon:hover {*/
/*        color: #aaa;*/
/*    }*/
/*    .menu-icon:checked ~ .menu {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        background-color: #111;*/
/*        position: absolute;*/
/*        top: 100%;*/
/*        left: 0;*/
/*        width: 100%;*/
/*        padding: 10px 0;*/
/*        z-index: 999;*/
/*    }*/
/*    .menu-icon:checked ~ .menu li {*/
/*        !*margin: 10px 0;*!*/
/*    }*/
/*}*/





